[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
supabase = "*"
pydantic-settings = "*"
pydantic = {extras = ["email"], version = "*"}
email-validator = "*"
python-multipart = "*"
reportlab = "*"

[dev-packages]

[requires]
python_version = "3.10"
